@import 'todo.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
}

.clicked {
    color: orange;
}

.sexyfont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hidden {
    display: none;
}

/* 추가 */
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    margin: 20px 0px;
    width: 250px;
    font-size: 18px;
}

#login-form button {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    margin: 20px 0px;
    font-size: 18px;
}

#clock {
    margin-top: 160px;
    margin-bottom: 0px;
    font-size: 80px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

#greeting {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.quotes {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather {
    position: absolute;
    bottom: 10px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
